@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Shantell Sans', sans-serif;
    background-color: #3b081e;
}
#instructionss{
    color: #fff;
    padding: -5px;
}
#headera:hover{
    scale: 1.1;
    opacity: 100%;
    filter:opacity(80%)
}
button{
    font-family: 'Shantell Sans', sans-serif;
}

#all-content{
    height: 98vh;
    margin: 0px;
}
#instruction span {
    color: rgb(42, 228, 25);
    
}
hr{
    width: 300px;
    border: 2px solid rgba(255, 255, 255, 0.469);
    border-radius: 50px;
}
#instruction p, #instruction span{
    font-size: 16px;
    align-items: center;
    text-align: center;
    margin: 5px;
}
#header{
    background-color: #86868649;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0px 5px 23px rgba(0, 0, 0, 0.4);
    width: 60%;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 10%;
    margin-bottom: 25px;
}

#header-board-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

#main-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-container{
    background: rgb(90,12,47);
    background: linear-gradient(180deg, rgba(90,12,47,1) 60%, rgba(136,67,168,1) 200%);
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
    border: #37061c solid 10px;
    border-radius: 30px;
    box-shadow: 0px 5px 23px rgba(0, 0, 0, 0.9);
    height: 90%;
    aspect-ratio: 1;
}
.square{
    border: #898989 solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
    width: 100px;
    height: 100px;
    font-weight: 700;
    font-size: 65px;
}

.square:hover{
    background-color: #6d1d41; 
}
.action-btn{
    font-size: 20px;
    padding: 7px 30px;
    border-radius: 30px;
    box-shadow: 0px 5px 23px rgba(0, 0, 0, 0.4);
    color: #fff;
    border: none;
    background-color: rgb(84,60,172);
    background: linear-gradient(90deg, rgba(84,60,172,1) 0%, rgba(136,67,168,1) 100%);
    cursor: pointer;
    margin-top: 25px;
    transition: all 0.3ms;
}
.action-btn:hover{
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.7);
        background: linear-gradient(350deg, rgba(84,60,172,1) 0%, rgba(136,67,168,1) 100%);
}

#headera{
    background-color: #efeded97;
    color: #fff;
    border-radius: 35px;
    box-shadow: 0px 5px 23px rgba(0, 0, 0, 0.4);
    width: 8%;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    height: 8%;
    padding: 7.5px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 14px;
}
footer{
    /* position: absolute;
    /* bottom: 0; */
    /* right: 0;
    left: 0;  */
    background: #1a010c;
    box-shadow: 0 5px 33px rgba(0, 0, 0, 5.9);
    height: auto;
    width: 100%;
    font-family: "Open sans", sans-serif;
    padding-top: 40px;
    color: #fff;
    width: 100wv;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials a{
    margin: 0 10px;
    font-size: 1.1rem;

}
.socials:hover a img{
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
}
.footer-bottom{
    background: #000000;
    width: 100%;
    padding: 20px 0 ;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: uppercase;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 700;
}
@media (max-width: 480px) {
    #header {
      width: 100%;
    }
    .footer-content p, .footer-bottom p{
        font-size: 12px;
    }
    .square{
       height: 90px;
       width: 90px;
    }
    #grid-container{
        padding: 30px;
    }
    #header-board-wrapper{
        width: 90%;
        text-align: center;
    }
    #headera{
        width: 40px;
    }
  }